### Pands String Operations
Pandas provides a set of string functions which make it easy to operate on string data. Most importantly, these functions ignore (or exclude) missing/NaN values.

1. lower() : Converts strings in the Series/Index to lower case.
2. upper() : converts strings in the Series/Index to upper case.
3. len(): Copmutes String  length().
4. strip(): Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
5. split(): Splits each string with the given pattern.
6. cat(sep=' '): Concatenates the series/index elements with given separator.
7. get_dummies(): Returns the DataFrame with One-Hot Encoded values.
8. contains(pattern): Returns a Boolean value True for each element if the substring contains in the element, else False.
9. replace(a,b): Replaces the value a with the value b.
10. repeat(value): Repeats each element with specified number of times.
11. count(pattern): Returns count of appearance of pattern in each element.
12. startwith(pattern):  Returns true if the element in the Series/Index starts with the pattern.
13. endswith(pattern): Returns true if the element in the Series/Index ends with the pattern.
14. find(pattern): Returns the first position of the first occurrence of the pattern.
15. findall(pattern): Returns a list of all occurrence of the pattern.
16. swapcase: Swaps the case lower/upper.
17. islower(): Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean
18. isupper(): Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.
19. isnumeric(): Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

In [3]:
import pandas as pd 
import numpy  as np
s = pd.Series(['Karan', 'PRIYA', 'ishta', 'rajiv','12345','Varun','RASHI','MANAV','swara'])
s

0    Karan
1    PRIYA
2    ishta
3    rajiv
4    12345
5    Varun
6    RASHI
7    MANAV
8    swara
dtype: object

#### String Lowercase

In [5]:
s.str.lower()

0    karan
1    priya
2    ishta
3    rajiv
4    12345
5    varun
6    rashi
7    manav
8    swara
dtype: object

#### String Uppercase

In [7]:
s.str.upper()

0    KARAN
1    PRIYA
2    ISHTA
3    RAJIV
4    12345
5    VARUN
6    RASHI
7    MANAV
8    SWARA
dtype: object

#### String Length

In [9]:
s.str.len()

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
dtype: int64

#### String Concatenates

In [11]:
s.str.cat(sep='_+_')

'Karan_+_PRIYA_+_ishta_+_rajiv_+_12345_+_Varun_+_RASHI_+_MANAV_+_swara'

#### String Contains

In [13]:
s[s.str.contains('n')]

0    Karan
5    Varun
dtype: object

#### String Replace

In [15]:
s.str.replace('a','@')

0    K@r@n
1    PRIYA
2    isht@
3    r@jiv
4    12345
5    V@run
6    RASHI
7    MANAV
8    sw@r@
dtype: object

#### String Repeat

In [17]:
s.str.repeat(2)

0    KaranKaran
1    PRIYAPRIYA
2    ishtaishta
3    rajivrajiv
4    1234512345
5    VarunVarun
6    RASHIRASHI
7    MANAVMANAV
8    swaraswara
dtype: object

#### String Count

In [19]:
s.str.count('a')

0    2
1    0
2    1
3    1
4    0
5    1
6    0
7    0
8    2
dtype: int64

#### String Startswith

In [21]:
s[s.str.startswith('K')]

0    Karan
dtype: object

#### String Endswith

In [23]:
s[s.str.endswith('a')]

2    ishta
8    swara
dtype: object

#### String find Index

In [25]:
s.str.find('a')

0    1
1   -1
2    4
3    1
4   -1
5    1
6   -1
7   -1
8    2
dtype: int64

#### String findall

In [27]:
s.str.findall('a')

0    [a, a]
1        []
2       [a]
3       [a]
4        []
5       [a]
6        []
7        []
8    [a, a]
dtype: object

#### String Swapcase()

In [29]:
s.str.swapcase()

0    kARAN
1    priya
2    ISHTA
3    RAJIV
4    12345
5    vARUN
6    rashi
7    manav
8    SWARA
dtype: object

#### String Islower

In [31]:
s[s.str.islower()]

2    ishta
3    rajiv
8    swara
dtype: object

#### String Isupper

In [33]:
s[s.str.isupper()]

1    PRIYA
6    RASHI
7    MANAV
dtype: object

#### String Isnumeric

In [35]:
s[s.str.isnumeric()]

4    12345
dtype: object

#### String Strip

In [37]:
S = pd.Series(['    Welcome to Python Masters Course '])
S

0        Welcome to Python Masters Course
dtype: object

In [38]:
S.str.strip()

0    Welcome to Python Masters Course
dtype: object

In [39]:
S.str.strip(' ')

0    Welcome to Python Masters Course
dtype: object

In [40]:
S = pd.Series(['Welcome-to-Python-Masters-Course'])
S

0    Welcome-to-Python-Masters-Course
dtype: object

In [41]:
S.str.strip('-')

0    Welcome-to-Python-Masters-Course
dtype: object

#### String Split

In [43]:
S = pd.Series(['Welcome to Python Masters Course'])
S

0    Welcome to Python Masters Course
dtype: object

In [44]:
S.str.split()

0    [Welcome, to, Python, Masters, Course]
dtype: object

In [45]:
S = pd.Series(['Welcome-to-Python-Masters-Course'])
S

0    Welcome-to-Python-Masters-Course
dtype: object

In [46]:
S.str.split('-')

0    [Welcome, to, Python, Masters, Course]
dtype: object

#### String Dummies

In [48]:
s = pd.Series(list('pqrsa'))
s

0    p
1    q
2    r
3    s
4    a
dtype: object

In [49]:
pd.get_dummies(s)

       a      p      q      r      s
0  False   True  False  False  False
1  False  False   True  False  False
2  False  False  False   True  False
3  False  False  False  False   True
4   True  False  False  False  False